@*
 * Copyright © 2024, 2025 Jack Kelly.
 *
 * Soft Touch Search is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or
 * (at your option)any later version.
 *
 * Soft Touch Search is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * Soft Touch Search. If not, see [https://www.gnu.org/licenses/].
 *@

@using SoftTouchSearch.Index.Classes

@model SearchResult

<div class="search-result mb-5 p-3 bg-light-subtle border border-light-subtle rounded">
    <p class="details m-0">
        <span>Chapter @Model.ChapterNumber</span><span>Episode @Model.EpisodeNumber</span>
    </p>
    <h3 class="h4 title">
        <a href="@Model.Url">@Model.Title</a>
    </h3>
    <div class="snippets">
        @Html.Raw(Model.Snippet)
    </div>
    <p class="score">
        @Model.Score.Score
    </p>
</div>
