@page

@using Lucene.Net.Documents
@using SoftTouchSearch.Data.Models
@using SoftTouchSearch.Index.Classes

@model SoftTouchSearch.Pages.TestModel
@{
}

<div class="mb-3">
    <input asp-for="QueryText" readonly />
</div>

@if (Model.Results != null)
{
    if (Model.Results.Any())
    {
        foreach (SearchResult result in Model.Results)
        {            
            <div class="mb-3">
                <h2 class="h4">@result.Title</h2>
                <ul>
                    <li>@result.Chapter</li>
                    <li>Episode @result.EpisodeNumber</li>
                    <li><a href="@result.Url">Episode Link</a></li>
                </ul>
                <blockquote>
                    @Html.Raw(result.Snippet)
                </blockquote>
            </div>
        }
    }
    else
    {
        <p class="text-center mb-3">
            <em>No results found.</em>
        </p>
    }
}
