@* Episode listing for the first row of each chapter *@

@using SoftTouchSearch.Data.Models

@model Tuple<Chapter, Episode>

@{
    Chapter chapter = Model.Item1;
    Episode episode = Model.Item2;

    string? anchorId = episode.IsFirstEpisodeInChapter ? $"chapter-{chapter.Number}" : null;
}

<tr>
    <td class="pt-4">
        @episode.EpisodeNumber
    </td>

    <th scope="rowgroup" class="pt-4 title">
        <a id="@anchorId">@episode.Title</a>
        @if (episode.IsMature)
        {
            <span class="badge text-bg-danger ms-1 px-1" aria-label="Mature Content">M</span>
        }
    </th>

    <td class="pt-4 d-none d-md-table-cell text-secondary">
        <time datetime="@episode.PublishDate.ToString("yyyy-MM-dd")" class="text-nowrap">
            @episode.PublishDate.ToString("MMM d, yyyy")
        </time>
    </td>

    <td class="pt-4">
        <span class="d-inline-flex flex-row flex-nowrap gap-1">
            <a href="@episode.UrlTapas" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-tapas">
                <span class="d-none d-lg-inline">Read on</span> Tapas
            </a>

            @if (episode.UrlExternal != null)
            {
                <a href="@episode.UrlExternal" target="_blank" rel="noopener" class="btn btn-sm btn-river">
                    <span class="d-none d-lg-inline">Read on</span> River's Site
                </a>
            }
        </span>
    </td>
</tr>