@using SoftTouchSearch.Models.Listings

@model EpisodeListing

<tr>
    <td>
        @Model.EpisodeNumber
    </td>
    <td>
        @Model.Title
    </td>
    @if (Model.UrlBlog != null)
    {
        <td>
            <a href="@Model.UrlTapas" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary">Read on Tapas</a>
        </td>
        <td>
            <a href="@Model.UrlTapas" target="_blank" rel="noopener" class="btn btn-sm btn-primary">Read on River's Site</a>
        </td>
    }
    else
    {
        <td colspan="2">
            <a href="@Model.UrlTapas" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary">Read on Tapas</a>
        </td>
    }
    
</tr>