@* Episode listing for the first row of each chapter *@

@using SoftTouchSearch.Models.Listings

@model EpisodeListing

@{
    string? anchorId = Model.IsFirstInChapter && Model.ChapterNumber != null ? $"chapter-{Model.ChapterNumber}" : null;
}

<tr>
    <th class="pt-4">
        @Model.EpisodeNumber
    </th>

    <th scope="rowgroup" class="pt-4">
        <a id="@anchorId">@Model.Title</a>
    </th>

    @if (Model.UrlBlog != null)
    {
        <td class="pt-4">
            <a href="@Model.UrlTapas" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-tapas">Read on Tapas</a>
        </td>
        <td class="pt-4">
            <a href="@Model.UrlBlog" target="_blank" rel="noopener" class="btn btn-sm btn-river">Read on River's Site</a>
        </td>
    }
    else
    {
        <td class="pt-4">
            <a href="@Model.UrlTapas" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-tapas">Read on Tapas</a>
        </td>
        <td class="pt-4" aria-hidden="true">
        </td>
    }
    
</tr>