@using SoftTouchSearch.Models.Listings

@model EpisodeListing

@{
    string? chapterClass = Model.IsFirstInChapter ? "pt-4" : null;    
}

<tr>
    <td class="@chapterClass">
        @Model.EpisodeNumber
    </td>
    @if (Model.IsFirstInChapter)
    {
        <th scope="rowgroup" class="@chapterClass">
            @Model.Title
        </th>
    }
    else
    {
        <td class="@chapterClass">
            @Model.Title
        </td>
    }
    @if (Model.UrlBlog != null)
    {
        <td class="@chapterClass">
            <a href="@Model.UrlTapas" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-tapas">Read on Tapas</a>
        </td>
        <td class="@chapterClass">
            <a href="@Model.UrlTapas" target="_blank" rel="noopener" class="btn btn-sm btn-river">Read on River's Site</a>
        </td>
    }
    else
    {
        <td class="@chapterClass">
            <a href="@Model.UrlTapas" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-tapas">Read on Tapas</a>
        </td>
        <td class="@chapterClass" aria-hidden="true">
        </td>
    }
    
</tr>