@* Episode listing for every row except the first of each chapter *@

@using SoftTouchSearch.Data.Models

@model Episode

@{
    string? excludedClass = Model.IsNonStory ? "excluded" : null;
    string? excludedTextClass = Model.IsNonStory ? "text-secondary" : null;
}

<tr class="@excludedClass">
    <td class="@excludedTextClass">
        @Model.EpisodeNumber
    </td>

    <td class="title @excludedTextClass">
        @Model.Title
    </td>

    <td class="d-none d-md-table-cell text-secondary">
        <time datetime="@Model.PublishDate.ToString("yyyy-MM-dd")" class="text-nowrap">
            @Model.PublishDate.ToString("MMM d, yyyy")
        </time>
    </td>

    <td>
        <span class="d-inline-flex flex-row flex-nowrap gap-1">
            <a href="@Model.UrlTapas" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-tapas">
                <span class="d-none d-lg-inline">Read on</span> Tapas
            </a>

            @if (Model.UrlExternal != null)
            {
                <a href="@Model.UrlExternal" target="_blank" rel="noopener" class="btn btn-sm btn-river">
                    <span class="d-none d-lg-inline">Read on</span> River's Site
                </a>
            }
        </span>
    </td>
</tr>